<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant catalogue for you">
  <meta name="theme-color" content="#DB0000" />

  <link rel="apple-touch-icon" href="../public/icons/icon-144x144.png">
  <link rel="manifest" href="../public/app.webmanifest">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

  <title>Restaurant Apps</title>
</head>

<body>
  <skip-to-content tabindex="0"></skip-to-content>

  <header>
    <header-bar></header-bar>
  </header>

  <hero-bar></hero-bar>

  <main id="main-post" tabindex="0"></main>

  <footer>
    <footer-bar></footer-bar>
  </footer>

  <loader-component></loader-component>
</body>

</html>