@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
}

/* Body */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

main:focus{
  outline: none;
}